[buildout]
extends =
    https://zopefoundation.github.io/Zope/releases/master/versions.cfg
develop = .
parts =
    test
    scripts
    docs


[test]
recipe = zc.recipe.testrunner
defaults = ['-cv']
eggs =
    dataflake.wsgi.cheroot

[scripts]
recipe = zc.recipe.egg
eggs =
    dataflake.wsgi.cheroot
scripts =
    mkcherootinstance

[docs]
recipe = zc.recipe.egg
eggs =
    dataflake.wsgi.cheroot[docs]
    Sphinx
scripts =
    sphinx-build
