# This buildout is used for development of dataflake.fakeldap.

[buildout]
develop = .
parts = 
    test
    sphinx

[test]
recipe = zc.recipe.testrunner
eggs =
    dataflake.fakeldap
    volatildap

[sphinx]
recipe = zc.recipe.egg
eggs =  
    dataflake.fakeldap[docs]
    Sphinx
scripts =
    sphinx-build
