[buildout]
extends =
    https://zopefoundation.github.io/Zope/releases/master/versions.cfg
develop = .
parts =
    test
    docs


[test]
recipe = zc.recipe.testrunner
eggs = Products.LDAPMultiPlugins[exportimport]

[docs]
recipe = zc.recipe.egg
eggs =
    Products.LDAPMultiPlugins[docs]
    Sphinx
scripts =
    sphinx-build
