[buildout]
extends =
    https://zopefoundation.github.io/Zope/releases/master/versions.cfg
develop = .
parts =
    test
    scripts
    docs


[test]
recipe = zc.recipe.testrunner
defaults = ['-cv']
eggs =
    dataflake.wsgi.werkzeug

[scripts]
recipe = zc.recipe.egg
eggs =
    dataflake.wsgi.werkzeug
scripts =
    mkwerkzeuginstance

[docs]
recipe = zc.recipe.egg
eggs =
    dataflake.wsgi.werkzeug[docs]
    Sphinx
scripts =
    sphinx-build
