[bumpversion]
current_version = 0.8.4

[bumpversion:file:package.json]
search = "version": "{current_version}"
replace = "version": "{new_version}"

[bumpversion:file:src/pre_commit_hooks/__init__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"
